.overlay_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overlay_title {
  span {
    font-size: 10px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #454545;
  }
}
.overlay_img_wrap {
  display: grid;
  place-items: center;
  img {
    height: 80%;
    width: 80%;
    object-fit: contain;
  }
}
