.settings_wrapper {
  display: flex;
  width: 100%;
  font-weight: 400;
  color: #454545;
  font-family: 'Raleway', sans-serif;
  .left_side {
    padding: 1rem;
    border-right: 1px solid #e5e5e5;

    .action_btn_container {
      display: flex;
      flex-direction: column;

      .action_btn {
        background: none;
        outline: none;
        border: 0;
        font-family: inherit;
        font-weight: 400;
        font-size: 0.8rem;
      }
      .action_btn.active {
        border-radius: 1rem;
        border: 0;
        outline: none;
        padding: 0.8rem 2rem;
        background: #34f2c633;
      }
      .action_btn + .action_btn {
        margin-top: 1rem;
      }
    }
  }
  .right_side {
    width: 80%;
    min-height: 70vh;
    padding: 1rem;
    border-left: none;

    .field_container {
      display: flex;
      flex-direction: column;

      .field_title {
        font-size: 1rem;
        padding: 0 0.5rem;
        margin-bottom: 1rem;
      }
      .field_input {
        input {
          width: 100%;
          padding: 0.5rem 1rem;
          border-radius: 1.2rem;
          border: 1px solid #e5e5e5;
          outline: none;
        }
        input,
        input::placeholder {
          font-size: 0.8rem;
          font-family: inherit;
          color: #959595;
        }
        input[type='date'] {
          max-width: fit-content;
        }

        .choose_btn {
          border: 1px solid #e5e5e5;
          outline: none;
          background: #ffffff;
          border-radius: 1rem;
          color: #454545;
          font-family: 'Raleway', sans-serif;
          font-weight: 400;
          font-size: 0.8rem;
          padding: 0.5em 0;
          min-width: 10rem;
          height: 2.5rem;
          max-height: 3.5rem;
        }

        .field_input_container {
          display: flex;
          button {
            margin-right: 2rem;
          }
          .image_box {
            max-width: 50%;
          }
          .image_box img {
            max-width: 100%;
            border-radius: 20px;
          }
        }
      }
      .field_input.number_input {
        display: flex;
        align-items: center;
        border: 1px solid #e5e5e5;
        border-radius: 1.2rem;
        padding: 0.5rem 1rem;
        .currency {
          margin-right: 0.5rem;
        }
        input {
          outline: none;
          border: 0;
          padding: 0;
        }
      }
    }
    .field_container + .field_container {
      margin-top: 1.2rem;
    }

    .description_container {
      display: flex;
      flex-direction: column;
      border: 1px solid #e5e5e5;
      border-radius: 20px;

      .description_header {
        padding: 1rem;
        border-bottom: 1px solid #e5e5e5;
      }
      .description_body {
        padding: 5%;
        .description_cover_image {
          width: 100%;
          img {
            max-width: 100%;
            border-radius: 20px;
          }
        }
        .description_text {
          font-family: Raleway;
          font-size: 1rem;
          font-weight: 500;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: justified;
        }
      }
    }
  }
}
