.advance_card {
  &_img {
    width: 100%;
    height: 100%;
  }
  &_content_wrap {
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }
  &_title {
    color: #2f455c;
    font-size: 22px;
    font-weight: 700, bold;
    line-height: 25.83px;
    margin: 0;
  }
  &_description_first {
    text-align: center;
    margin-bottom: 0;
    color: #102f35;
    font-weight: 400;
    line-height: 20px;
  }
  &_description_second {
    margin-top: 0;
    text-align: center;
    margin-bottom: 0;
    color: #102f35;
    padding: 0 20px;
    font-weight: 400;
    line-height: 20px;
  }
  &_btn > button {
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    font-style: normal;
    padding: 12px 0;
  }
}
[btns="View all personal projects"] {
  padding: 30px 0;
  width: 100%;
  font-size: 21px;
}
[btns="See all charities"] {
  padding: 30px 0;
  width: 75%;
  font-size: 21px;
}

@media only screen and (min-width: 768px) {
  .advance_card {
    padding: 0 3rem 0 3rem;
    width: 50%;
    &_img {
      display: none;
    }
    &_content_wrap {
      margin-top: 0;
      padding-bottom: 50px;
      align-items: flex-start;
    }
    &_title {
      margin: 0;
      font-size: 35px;
      line-height: 43.7px;
      padding-bottom: 20px;
      padding-top: 20px;
    }
    &_description_first {
      text-align: left;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 21px;
      line-height: 31px;
    }
    &_description_second {
      margin-top: 0;
      text-align: left;
      margin-bottom: 0;
      padding: 0;
      font-size: 21px;
      line-height: 31px;
    }
    &_btn {
      font-size: 15px;
      padding-bottom: 0;
      & button {
        width: 15em;
        font-size: 1em;
      }
    }
  }
}
