.grid {
  display: flex;
  flex-direction: column;
  gap: 12px;
  .grid_head {
    font-size: 20px;
    font-weight: 500;
    line-height: 14px;
    text-align: justified;
    color: #454545;
  }
  .grid_body {
    display: flex;
    justify-content: space-between;
  }
}
