.projectCard {
  padding: 12px 20px;

  &_wrap {
    background-color: #fff;
    border-radius: 40px;
    overflow: hidden;
    filter: drop-shadow(0px 15px 30px rgba(75, 75, 75, 0.302));
  }
  &_img {
    width: 100%;
  }

  &_body_wrap {
    padding: 17px;
  }
  &_textWrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 5%;
  }
  .projectCard_text_additional {
    padding: 0 12px;
  }

  &_title {
    font-size: 15px;
    font-weight: 700;
    line-height: 17.5px;
    color: #2f455c;
  }
  &_info {
    color: #2f455c;
    font-size: 10px;
    font-weight: 500;
    line-height: 11.6px;
    margin: 0;
    text-align: left;
  }

  &_additional {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_heart,
    &_person,
    &_money {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
    }
    &_heart span,
    &_person span,
    &_money span {
      color: #2f455c;
      font-weight: 500;
      font-size: 12px;
    }
  }

  &_barWrap {
    padding: 17px 0;
  }
  &_barContainer {
    border: 1px solid cyan;
    border-color: linear-gradient(270deg, #34f2c6 2.2%, #1ecef7 100%);
    padding: 4px;
    border-radius: 100px;
    filter: drop-shadow(0px 2px px rgba(75, 75, 75, 0.302));
  }
  &_bar {
    border-radius: 100px;
    padding: 2%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &::before {
      content: "";
      background-color: red;
      background: linear-gradient(270deg, #34f2c6 2.2%, #1ecef7 100%);
      border-radius: 100px;
      padding: 10px 25px;
      position: absolute;
      width: 60%;
      left: 0;
      height: 100%;
    }
  }

  &_current {
    font-size: 12px;
    color: #fff;
    z-index: 2;
    padding-left: 15px;
  }
  &_total {
    font-size: 12px;
    color: #000;
    z-index: 2;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .projectCard {
    max-width: 19rem;
    margin-left: 1.5rem;
    padding: 2rem 0;
    &_img {
      max-height: 10rem;
      object-fit: cover;
    }
  }
}
